{% load static %}
<header class="bg-white shadow-md p-4 flex justify-between items-center relative z-10">

    <div class="flex items-center space-x-4 ml-auto">
        <div class="relative">
            <input type="text" placeholder="Search..." class="w-full pl-4 pr-10 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-indigo-500 bg-gray-50 text-gray-800 border-gray-300">
            <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                <i class="fas fa-search text-gray-400"></i>
            </span>
        </div>
        <div class="relative">
            <button id="notification-button" class="flex items-center space-x-2 focus:outline-none relative">
                <i class="fas fa-bell text-gray-600"></i>
                <span class="absolute top-0 right-0 h-2 w-2 bg-red-500 rounded-full"></span>
            </button>
            <div id="notification-menu" class="hidden absolute right-0 mt-2 w-64 bg-white rounded-md shadow-lg py-1 z-20">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 border-b border-gray-200 last:border-b-0">New invoice issued</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 border-b border-gray-200 last:border-b-0">Tenant quota alert</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Update</a>
            </div>
        </div>
        <div class="relative">
            <button id="user-menu-button" class="flex items-center space-x-2 focus:outline-none">
                <img src="{% static 'img/lela.jpg' %}" alt="Admin" class="w-10 h-10 rounded-full">
            </button>
            <div id="user-menu" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-20">
                <a href="{% url 'accounts:profile'%}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 border-b border-gray-200 last:border-b-0">My Profile</a>
                <a href="{% url 'accounts:profile_edit'%}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 border-b border-gray-200 last:border-b-0">Edit Profile</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 border-b border-gray-200 last:border-b-0">Settings</a>
                <a href="{% url 'accounts:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>
            </div>
        </div>
    </div>
</header>
